extends ../node_modules/pug-pack/src/_base

append head
    title YEEAAARGH
    meta(name="google" content="notranslate")
    script: include jquery.slim.min.js
    script: include bootstrap.bundle.min.js
    style: include bootstrap.min.css
    style.
        #abc {
            resize: both;
            height: 10em;
            width: 100%;
            font-family: monospace;
        }
        body { padding: 1em }
        #paper { width: 100% }
        .item {
            margin-left: 1em;
            white-space: nowrap;
        }

        button { margin-right: 1ex }

        @media print {
            .noprint { display: none !important }
        }

append body
    #paper
    .noprint.d-flex.flex-wrap.align-items-center
        .item
            span Enter some &nbsp;
            a(href="https://github.com/brewingcode/shanties/blob/master/README.md" target="_blank") ABC notation
        .item
            span or &nbsp;
            .dropdown.d-inline-block
                button.btn.dropdown-toggle(type="button" id="songFile" data-toggle="dropdown") Pick a song
                .dropdown-menu(aria-labelledby="songFile")
                    - var keys = Object.keys(src['by-title.json'])
                    - keys.sort()
                    each k in keys
                        a.dropdown-item(href="#")= k
        .item
            span or &nbsp;
            a(href="https://github.com/brewingcode/shanties/tree/master/songs")
                svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
                    path(d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z")
                span &nbsp;add a song

    .noprint: textarea#abc(spellcheck="false")
    .noprint: #warnings
    .noprint#settings
        label
            span Show lyrics
            input#show-lyrics(type="checkbox" checked)
        span &nbsp;&nbsp;&nbsp;
        label
            span Show trumpet fingering
            input#show-trumpet(type="checkbox")
        span &nbsp;&nbsp;&nbsp;
        label
            span Show guitar tab
            input#show-gtab(type="checkbox")
        span &nbsp;&nbsp;&nbsp;
        label
            span Transpose:
            input#transpose(type="number" min="-24" max="24" step="1" value="0")
        span &nbsp;
        span#fromKey
        span &nbsp;-&gt;&nbsp;
        span#toKey
    .noprint
        a(href="https://github.com/brewingcode/shanties/commit/" + src['GIT_HEAD'])= src['GIT_HEAD']
    script.
        var songs = !{JSON.stringify(src['songs.json'])};
        var byTitle = !{JSON.stringify(src['by-title.json'])};
    script: include abcjs-basic.js
    script
        :coffeescript
            abcjsParams =
                responsive: 'resize'
                add_classes: true

            displayKey = ->
                { tunes } = window.editor
                k = tunes?[0].getKeySignature()
                return unless k
                if k.acc is 'b'
                    k.root + '♭'
                else if k.acc is '#'
                    k.root + '#'
                else
                    k.root

            setSong = (song) ->
                s = song
                    .split /\n/
                    .filter (line) ->
                        if m = line.match /^\s*w:(.*)/i
                            lyrics = m[1]
                            if lyrics.match /^[\s\d\?]+$/
                                # all digits are trumpet fingering, keep those
                                return $('#show-trumpt').is(':checked')
                            else 
                                return $('#show-lyrics').is(':checked')
                        else
                            return true
                    .join('\n')
                window.editor.editarea.setString s
                document.title = Object.entries(byTitle)
                    .find ([k,v]) -> v is song
                    ?.at(0) or 'YEEAAARGH'
                setTimeout ->
                    k = displayKey()
                    $('#fromKey').text(k)
                    $('#toKey').text(k)
                , 500

            updateUrl = (title) ->
                params = new URLSearchParams(window.location.search)
                params.set 'title', title
                window.history.replaceState {}, '', "#{window.location.pathname}?#{params}"

            addEditButton = ->
                $('#settings > button').remove()
                $('#settings').prepend """
                    <button type="button" class="btn btn-primary btn-sm">Edit</button>"""
                $('#settings > button').on 'click', (e) ->
                    $(e.target).remove()
                    $('#abc').prop('disabled', false)
                        .focus()
                        .on 'blur', (e) ->
                            $('#abc').prop 'disabled', true
                            addEditButton()

            window.onload = ->
                prevStep = 0
                window.editor = new ABCJS.Editor 'abc',
                    canvas_id: 'paper',
                    warnings_id: 'warnings'
                    abcjsParams: abcjsParams

                $('.dropdown-menu a').click ->
                    setSong byTitle[$(this).text()]
                    updateUrl $(this).text()

                $('#transpose').on 'change', ->
                    tv = +$('#transpose').val()
                    $('#fromKey').text $('#toKey').text()
                    newTunes = ABCJS.strTranspose $('#abc').val(), window.editor.tunes, tv - prevStep
                    window.editor.editarea.setString(newTunes)
                    prevStep = tv
                    setTimeout ->
                        $('#toKey').text displayKey()
                    , 500

                $('#show-lyrics, #show-trumpet').on 'change', ->
                    setSong byTitle[document.title]

                $('#show-gtab').on 'change', ->
                    window.editor.paramChanged {
                        ...abcjsParams
                        tablature: if $(this).is(':checked')
                            [{
                                instrument: "guitar",
                                label: "Guitar (%T)",
                                tuning: ["E,", "A,", "D", "G", "B", "e"],
                            }]
                    }

                params = new URLSearchParams(window.location.search)
                file = params.get('file')
                title = params.get('title')
                if file and songs[file]
                    setSong songs[file]
                else if title and byTitle[title]
                    setSong byTitle[title]
                else
                    setSong "%%notelabels 1\nB c d e | ff | c'd' | EE E | =D^D"

                if navigator.userAgent.match /i(Pad|Phone)/i
                    $('#abc').prop 'disabled', true
                    addEditButton()
